* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: #F3DCA5;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #7E5D11;
}

nav a:hover {
    background-color: rgba(238, 205, 129, 0.7);
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 99;
    background-color: rgba(243, 220, 165, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    height: 50px;
}

.sidebar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #7E5D11;
}

.sidebar a:hover {
    background-color: rgba(238, 205, 129, 0.5);
}

@media screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;  
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}





